<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %}{% endblock %}-Antidekubit</title>

    {% block stylesheet %}
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/font-awesome.min.css" rel="stylesheet">
        <link href="assets/css/swiper.min.css" rel="stylesheet">
        <link href="assets/css/style.css" rel="stylesheet">
    {% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js></script>
    <![endif]-->
</head>
<body class="background-clouds">

<!-- Navbar -->
<nav class="navbar navbar-blue navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Antidekubit</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Početna</a></li>
                <li><a href="/">Proizvodi</a></li>
                <li><a href="/">Cenovnik</a></li>
                <li><a href="/">Dostava</a></li>
                <li><a href="/">Online kupovina</a></li>
                <li><a href="/">Uputstvo</a></li>
                <li><a href="/">Galerija</a></li>
                <li><a href="/">Kontakt</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="content-wrapper">
    {% block content %}{% endblock %}
</div>

 {% block script %}
    <!-- Scripts -->
    <script src="assets/js/jquery-2.1.3.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/swiper.jquery.min.js"></script>
    <script src="assets/js/main.js"></script>
{% endblock %}


</body>
</html>